<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 13%">
      <div class="jumbotron">
        <h2>
          Tweetable
        </h2>
        <p>Helping people to be concise, Precisely. </p>
        <p>
          <%= link_to 'Login with Google', '/auth/google_oauth2', :class=> 'btn btn-danger btn-large' %>
        </p>
      </div>
    </div>
  </div>
</div>
