<div class=" container">
  <div class="panel panel-success">
    <div class="panel-heading"><h4>Hello <%= session[:user_name] %>, your request has been successfully sent.</h4></div>
    <div class="panel-body">
      <h5>Waiting for approval ....</h5>
    </div>

  </div>

</div>
