<nav class="navbar sidebar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1" onclick="fixSideNavBarHeight(this)">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse app-navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav app-navbar-options">
      <% if current_user.is_admin %>
          <%= render 'shared/admin_sidebar_options' %>
      <% else %>
          <%= render 'shared/intern_sidebar_options' %>
      <% end %>
	    <%=	content_tag(:li, class: 'app-navbar-item' ) do  %>
	     <%= link_to('Logout', logout_path , class: 'fa fa-sign-out') %>
	    <%	 end %>
    </ul>
  </div>
</nav>
