<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to 'Tweetable', passages_path, class: "navbar-brand" %>
		</div>
		
		<div class="app-user-name hidden-xs">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to  "Welcome, #{current_user.name}" ,'javascript:void(0)' %>
				</li>
			</ul>
		</div>
	</div>
</nav>
