<div class="container">
  <div class="tabbable col-lg-12 col-md-12" id="tabs">
    <ul class="nav nav-tabs" id="prodTabs">
      <% candidate_tabs.each do |method_name, tab_name| %>
          <% class_name = (tab_name.to_s.eql? active_tab) ? 'active' : '' %>
          <%= content_tag(:li, class: class_name) do %>
              <%= link_to(tab_name.to_s.humanize , '#panel-body', data: {url: "#{url_for(action: method_name )}?from_tab=#{true}" , toggle: 'tab'}) %>
          <% end %>
      <% end %>

    </ul>
  </div>
</div>
<div class="container" style="margin-top: 20px">
  <div class="tab-content">
    <div class="tab-pane active" id="panel-body">
    </div>
  </div>
</div>
