<div class="container">
  <div class="tabbable col-lg-12 col-md-12" id="tabs">
    <ul class="nav nav-tabs" id="prodTabs">
      <li class="active">
        <a href="#panel-body" data-toggle="tab" data-url="<%= open_for_candidate_passages_url %>">Open</a>
      </li>
      <li>
        <a href="#panel-body" data-toggle="tab" data-url="<%= attempted_by_candidate_passages_url %>">Attempted</a>
      </li>
      <li>
        <a href="#panel-body" data-toggle="tab" data-url="<%= missed_by_candidate_passages_url %>">Missed</a>
      </li>
    </ul>
  </div>
</div>
<div class="container" style="margin-top: 20px">
  <div class="tab-content">
    <div class="tab-pane active" id="panel-body">
    </div>
  </div>
</div>
