<div class="col-md-8">
  <span>Completed by: <%= passage.responses.count %></span>
</div>
<div class="col-md-4">
  <%= button_to 'View all responses', passage_responses_path(passage.id), class: 'btn btn-info pull-right', method: :get %>
</div>