<div class="col-md-8">
  <span>Completed by: <%= passage.responses.count %></span>
</div>
<div class="col-md-4">
  <a href="responses.html">
    <button type="button" class="btn btn-info pull-right">
      View other responses
    </button>
  </a>
</div>