<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="app-passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
	</div>
	<div class="panel-body">
			<%= render :partial => 'passages/common/content', locals: {passage: passage} %>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<span class="app-passage-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= passage.responses.count %> </span>
			</div>
			<div class="app-passage-actions">
				<%= button_to 'View all responses', passage_responses_path(passage), method: :get, class: 'btn btn-info pull-right'%>
			</div>
		</div>
	</div>
</div>
