<div class="col-md-4">
  <span>Duration: <%= passage['duration'] %> hour</span>
</div>
<div class="col-md-4">
  <span>Completed by: <%= passage.responses.count %></span>
</div>
<div class="col-md-4">
  <a href="quiz.html">
    <button type="button" class="btn btn-success pull-right">
      Start Quiz
    </button>
  </a>
</div>