<div class="col-md-4">
  <span>Duration: <%= passage['duration'] %> hour</span>
</div>
<div class="col-md-4">
  <span>Completed by: <%= passage.responses.count %></span>
</div>
<div class="col-md-4">
  <%=   link_to(content_tag(:button, 'Start Quiz', class: 'btn btn-success pull-right'), "passages/#{passage.id}/responses/new" ) %>
</div>