<div class="row" id="app-passage-container">
	<% filtered_passages.each do |passage_with_response| %>
			<div class="col-lg-11">
				<%= render 'passages/candidate/attempted_passages', :passage_with_response => passage_with_response %>
			</div>
	<% end %>
</div>