<div class="row" id="app-passage-container" data-tab-name="attempted_passages" >
	<%= content_tag(:h3 , 'Attempted passages', class: 'col-sm-6 center-block  visible-xs-block') unless filtered_passages.empty? %>
  <% partial_name = PassagesHelper.partial_name(:attempted) %>
  <% empty_message = PassagesHelper.empty_tab_messages(partial_name) %>
  <%= render 'passages/common/empty_message', :message => empty_message if filtered_passages.empty? %>
  <% filtered_passages.each do |passage_with_response| %>
      <div class="col-lg-11 center-block">
        <%= render 'passages/candidate/attempted_passages', :passage_with_response => passage_with_response %>
      </div>
  <% end %>
</div>

