<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12 ">
      <h3 class="passage-heading">
        <%= passage.title %>
      </h3>
      <div  class="passage-holder">
        <%= simple_format(passage.text) %>
      </div>
    </div>

  </div>
  <div class="row">
      <div class="page-header">
        <h3><%= content_tag('small', responses.count.to_s + ' tweets', class: 'pull-right') %> Tweets </h3>
      </div>

      <ul id="response-list" class="comments-list">
        <% responses.each do |response| %>
        <%= render partial, response: response %>
        <% end %>
      </ul>
  </div>

</div>
