<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 50px; ">
      <h3 class="text-center">
        <%= passage.title %>
      </h3>
      <p style="border-style: ridge; border-radius: 10px; padding: 10px;">
        <%= passage.text %>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2><%= content_tag('small', responses.count.to_s + ' tweets', class: 'pull-right') %> Tweets </h2>
      </div>

      <div class="comments-list">
        <% responses.each do |response| %>
        <%= render 'response', response: response %>
        <% end %>

      </div>
    </div>
  </div>

</div>
