<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12 ">
      <h3 class="passage-heading">
        <%= passage.title %>
      </h3>
      <p  class="passage-holder">
        <%= passage.text %>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3><%= content_tag('small', responses.count.to_s + ' tweets', class: 'pull-right') %> Tweets </h3>
      </div>

      <div class="comments-list">
        <% responses.each do |response| %>
        <%= render partial, response: response %>
        <% end %>

      </div>
    </div>
  </div>

</div>
