<div class="modal fade" id=<%= id %> role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Deleting tag <%= tag.name %> will delete all its associated tagging. Are you sure...?</p>
      </div>
      <div class="modal-footer">
        <%= button_to 'Delete', tag_path(tag.id), class: 'btn btn-danger', method: :delete %>
      </div>
    </div>
  </div>
</div>
