<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>

<div class="col-md-12 text-center">
      <%= render 'passages/common/empty_message', :message => 'Sorry, something went wrong!' %>
      <%= content_tag(:a, 'Back', href: '/passages', class: 'btn btn-default',style: 'background: lightgrey') %>
</div>
