.app-rank-card{
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  height: 80px;
  svg{
    width: 100px;
    height: 100px;
    path{
    stroke-width: 0px;
      fill: $app-primary-color;
    }
    text{
      fill: white;
      stroke: white;
    }
  }
}
.app-rank-card-body{
  width:100%;
  margin: auto auto auto 20px;
  display: flex;
  justify-content: space-between;
}

