.app-passage-head {
  display: flex;
  justify-content: space-between;
}
.passage-actions {
  display: flex;
  align-items: center;
  .fa {
    margin-left: 10px;
  }
}

.panel-body{
  display: flex;
  .content{
    width:80%;
  }
  div.options{

    padding: 10px;
    border-left: 3px solid rgba(0, 0, 0, 0.26);

    .timeline{
      display: flex;
      flex-direction:column;
    }
  }
}

