// Place all the styles related to the Passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#passage_container{
  overflow: auto;
  margin-right: -31px;
  padding-top: 20px;
}
@media (min-width: 300px) {
  #passage_container .col-xs-5 {
    width: 49%;
  }

  .passage {
    .title {
      font-size: 21px;
      display: inline-flex;
    }
    div {
      display: inline-block;
    }
    .title, .title span, .timeline, .more_options {
      width: 100%;
    }
    .header {
      width: 100%;
      background-color: rgba(198, 198, 198, 0.38);
      border-radius: 2px;
      padding: 5px;
      display: inline-flex;
      .header_component {
        padding-top: 1%;
      }
      .timeline {
        width: 70%;
        .duration {
          padding-right: 15px;
        }
        .commences_on, .concludes_on {
          width: 27%;
          display: inline-flex;
          .content {
            display: inline-grid;
            line-height: 0;
            font-size: 8px;
            padding-top: 7px;
          }
          .icon {
            font-size: 14px;
          }
        }
      }
      .actions {
        width: 10%;
        a {
          color: black;
          padding-left: 10px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
    .more_options{
      a, span{
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #passage_container {
    margin-top: 15px;
    height: calc(100% - 50px);
    .col-lg-8 {
      margin-left: 5%;
      width: 88.666667%;
    }
  }
}