.app-passage-head {
  display: flex;
  justify-content: space-between;
}

.app-passage-actions {
  display: flex;
  align-items: center;
  a, button {
    margin-left: 10px;
    &.fa{
      color: #337ab7;
    }
  }
  button{
    background-color: transparent;
    border: none;
  }
}

.panel-body {
  display: flex;
  .app-content {
    width: 80%;
  }
  div.app-passage-options {
    padding: 10px;
    border-left: 3px solid rgba(0, 0, 0, 0.26);
    .app-passage-info {
      display: flex;
      flex-direction: column;
      .app-passage-info-item {
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.6);
        .fa {
          margin-right: 10px;
        }
      }
    }
  }
}

.app-passage-actions a {
  margin-right: 20px;
}
.app-empty-passage p{
  margin: 0 10px 27px 0;
  border: 1px dashed lightgray;
}

.app-new-passage-container{
  .app-duration-limit{
    .bdp-input{
      display: flex;
      .bdp-block{
        margin-right: 10px;
      }
    }
  }
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}

.justify{
  text-align: justify;
  padding-right: 15px;
}