// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totalChars {
  margin-bottom: 15px;
  margin-left: 25px;
  color: rgba(37, 37, 75, 0.72);
  font-weight: bold;
}

.count{
  color: grey;
}

.remaining_time{
  color: rgba(37, 37, 75, 0.72);
  font-weight: bold;
}