@import 'constants';

@media screen and (max-width: $responsive) {
  .navbar-header .navbar-brand {
    padding-left: 70px;
  }
  .app-sidebar-links-container {
    position: relative;
    margin-top: -50px;
    z-index: 9999;
  }
}


.app-sidebar-links-container {
  position: relative;
  margin-top: 20px;
}
.icon-bar {
  background-color: #000000;
}
