div.app-sidebar-links-container {
  padding: 0;
  .sidebar, .app-navbar-collapse, .app-navbar-options {
    width: 100%;
    height: 100% !important;
    padding: 0;
  }
  .app-navbar-collapse {
    padding-top: 10px;
    background-color: $app-brand-name-color;
    box-shadow: 1px 1px 1px 1px lightgrey;
  }
  .app-navbar-options {
    margin-top: 10px;
  }
  .app-navbar-options li {
    &.app-active-tab a{
      background-color: #e7e7e7;
    }
    a {
      cursor: pointer;
      padding-left: 14%;
      margin-right: 2px;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .app-navbar-options label {
    padding-left: 10%;
  }
}

@media screen and (min-width: $responsive) and (min-height: 550px) {
  .app-sidebar-links-container {
    position: relative;
    height: $view-port-height;

    .app-navbar-options li:last-child {
      position: absolute;
      width: 100%;
      bottom: 30px;
    }

  }
}

.icon-bar {
  background-color: white;
}

@media screen and (max-width: $responsive) {
  ul.nav {
    padding-left: 40px;
  }
  div.app-sidebar-links-container {
    position: fixed;
    width: 100%;
    //height: 100%;
    margin-top: 0;
    z-index: 9999;
    .sidebar, .app-navbar-collapse, .app-navbar-options {
      height: 87% !important;
    }
  }
  .navbar-toggle {
    position: fixed !important;
    top: 0;
  }
  .navbar {
    margin-bottom: 0 !important;
    min-height: 20px !important;
  }
  .app-navbar-collapse {
    margin-top: -30px;
  }
  .app-sidebar-links-container {
    padding-top: 30px !important;
  }
}
.fa{
  font-family: "Open Sans","FontAwesome","sans-serif";
  font-size: 15px;
}
