@import 'variables';

.app-tag-color-container.dropdown.new-tag-color {
    margin-top: 40px;
    .dropdown-menu {
      left: -106px;
    }
}
.app-tag-color-container {
  margin: auto;
  width: 20px;

  .input-group-addon {
    border: 1px solid $app-input-border-color;
    padding: 2px;
    width:20px;
    height: 20px;
    cursor: pointer;
    border-radius: 2px;
    .on-new {
      margin-top: 10px;
    }
  }
  .dropdown-menu {
    padding: 10px;
    left: -70px;
    .app-tag-input {
      margin: 2px;
    }
    .app-tag-color-cell {
      margin: 3px 0px 1px 3px;
      box-shadow: 1px 1px 1px lightgrey;
      border-radius: 2px;
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
.input-group .form-control:last-child {
      border-radius: 4px;
}
.app-add-tag-form-color.colorpicker-component{
  display: block;
  .input-group-addon {
    background-color: transparent;
    border: 1px solid $app-input-border-color;
    height: 34px;
    padding: 2px;
    i{
      height: 100%;
      width: 100%;
    }
  }
  .input-group-addon:last-child {
    border-left: 1px solid $app-input-border-color;
    border-radius: 4px;
  }
}

.app-tag-color-picker.colorpicker {
    z-index: 10000;
}
