@import "colors";

$app-user-icon-dimension: 30px;

.app-user-name {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

#user_icon {
  width: $app-user-icon-dimension;
  height: $app-user-icon-dimension;
  border-radius: 50%;
}
