//colors

$app-primary-color: #00b8d4;
$app-pc-light-dark: #19a0b5;
$app-pc-dark: #199cb1;
$app-secondary-color: #00b8d4;
$app-background-color: #f8f8f8;
$app-brand-name-color: #ffffff;
$app-input-border-color:#ccc;

//dimension
$view-port-height: 100%;
$main-content-height: calc(100% - 50px);

$responsive: 768px;
