<span class="commences_on">
										<span class="content">
		                   <span><%= name %> :</span><span><%= to_preferred_time_format(passage.commence_time)|| '(not set)' %></span>
										</span>
										<span class="icon">
	                    <i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
									</span>