<span class="concludes_on">
	<span class="content">
     <i class="fa fa-calendar" aria-hidden="true"></i><span><%= to_preferred_time_format(passage.conclude_time) || '(not set)' %></span>
	</span>
</span>