<span class="concludes_on">
										<span class="icon">
	                    <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
										</span>
										<span class="content">
		                   <span>Concludes</span> <span><%= to_preferred_time_format(passage.conclude_time) || '(not set)' %></span>
										</span>
                  </span>