<div class="modal fade" id="delete_modal_<%= passage.id %>" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Your passage cannot be retrieve once deleted. Do you confirm...?</p>
      </div>
      <div class="modal-footer">
        <%= button_to 'Delete', passage_path(passage.id), class: 'btn btn-danger', method: :delete %>
      </div>
    </div>
  </div>
</div>

