<div class="col-md-3">
  <span>Completed by: <%= passage.responses.count %></span>
</div>
<div class="col-md-3">
  <span>Starting on: <%= passage.start_time %></span>
</div>
<div class="col-md-3">
  <span>Closing on: <%= passage.close_time %></span>
</div>
<div class="col-md-3 passage_action_buttons">
  <a href="response_evaluation.html">
    <button type="button" class="btn btn-info">
      View all responses
    </button>
  </a>
  <i data-url=<%= passage_close_path(passage.id) %>>
    <button type="button" class="btn btn-danger pull-right">
      Roll out
    </button>
  </i>
</div>