<div class="row" id="passage_container">
	<% filtered_passages.each do |passage| %>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<%= render "passages/admin/" + partial_name, :passage => passage %>
			</div>
	<% end %>
</div>