<div class="row" id="app-passage-container">
	<% filtered_passages.each do |passage| %>
			<div class="col-lg-11">
				<%= render "passages/admin/" + partial_name, :passage => passage %>
			</div>
	<% end %>
</div>